ADF/templates/SFActivityLog/SFActivityLog.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name"
		},
		"SalesForce_Staging": {
			"type": "string"
		},
		"SalesforceProd": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SFActivityLog')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SetPipeLineRunID",
						"type": "SetVariable",
						"typeProperties": {
							"variableName": "PipeLineRunId",
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetPipeLineName",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SetPipeLineRunID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"variableName": "PipeLineName",
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							}
						}
					},
					{
						"name": "InsertLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetPipeLineName",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[InsPipeLineLog]')]",
							"storedProcedureParameters": {
								"PipeLineName": {
									"value": {
										"value": "@variables('PipeLineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipeLineRunId": {
									"value": {
										"value": "@variables('PipeLineRunId')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('SalesForce_Staging')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Del_Source",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "InsertLog",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[Del_Source_Activity_Log__c]')]"
						},
						"linkedServiceName": {
							"referenceName": "[parameters('SalesForce_Staging')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Source",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Del_Source",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select \tAdditionalNoPayDemosCompleted__c\n\t\t, AppointmentsScheduled__c\n\t\t, ContactsMade__c\n\t\t, CreatedById\n\t\t, CreatedDate\n\t\t, CustomersSold__c\n\t\t, Date__c\n\t\t, DemosCompleted__c\n\t\t, DropinsPerformed__c\n\t\t, FollowupDemosCompleted__c\n\t\t, Id\n\t\t, IsDeleted\n\t\t, LastModifiedById\n\t\t, LastModifiedDate\n\t\t, LastReferencedDate\n\t\t, LastViewedDate\n\t\t, MonthlyUnitGoal__c\n\t\t, Name\n\t\t, NewSalesUnitsAcquired__c\n\t\t, OwnerId\n\t\t, PhoneCallsMade__c\n\t\t, Prospect_Emails_Sent__c\n\t\t, ReferralsReceived__c\n\t\t, SystemModstamp\n\t\t, UpgradeSalesUnitsAcquired__c\n\t\t, WeeklyUnitGoal__c\nfrom Activity_Log__c",
								"readBehavior": "query"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SalesForce_Connection",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Source_ActivityLog",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ErrorLog_Del",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Del_Source",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[UpdPipeLineLog]')]",
							"storedProcedureParameters": {
								"PipeLineName": {
									"value": {
										"value": "@variables('PipeLineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipeLineRunId": {
									"value": {
										"value": "@variables('PipeLineRunId')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipeLineStatus": {
									"value": "Error",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('SalesForce_Staging')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Source",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[StageActivity_Log__c]')]",
							"storedProcedureParameters": {
								"PipeLineRunID": {
									"value": {
										"value": "@variables('PipeLineRunId')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('SalesForce_Staging')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Process",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[ProcessActivity_Log__c]')]",
							"storedProcedureParameters": {
								"PipeLineRunID": {
									"value": {
										"value": "@variables('PipeLineRunId')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('SalesForce_Staging')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ErrorLog_Source",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Source",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[UpdPipeLineLog]')]",
							"storedProcedureParameters": {
								"PipeLineName": {
									"value": {
										"value": "@variables('PipeLineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipeLineRunId": {
									"value": {
										"value": "@variables('PipeLineRunId')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipeLineStatus": {
									"value": "Error",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('SalesForce_Staging')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ErrorLog_Stage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stage",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[UpdPipeLineLog]')]",
							"storedProcedureParameters": {
								"PipeLineName": {
									"value": {
										"value": "@variables('PipeLineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipeLineRunId": {
									"value": {
										"value": "@variables('PipeLineRunId')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipeLineStatus": {
									"value": "Error",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('SalesForce_Staging')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ErrorLog_Process",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Process",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[UpdPipeLineLog]')]",
							"storedProcedureParameters": {
								"PipeLineName": {
									"value": {
										"value": "@variables('PipeLineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipeLineRunId": {
									"value": {
										"value": "@variables('PipeLineRunId')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipeLineStatus": {
									"value": "Error",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('SalesForce_Staging')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log_Complete",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Process",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[UpdPipeLineLog]')]",
							"storedProcedureParameters": {
								"PipeLineName": {
									"value": {
										"value": "@variables('PipeLineName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipeLineRunId": {
									"value": {
										"value": "@variables('PipeLineRunId')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipeLineStatus": {
									"value": "Complete",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('SalesForce_Staging')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"variables": {
					"PipeLineRunId": {
						"type": "String"
					},
					"PipeLineName": {
						"type": "String"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SalesForce_Connection')]",
				"[concat(variables('factoryId'), '/datasets/Source_ActivityLog')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesForce_Connection')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('SalesforceProd')]",
					"type": "LinkedServiceReference"
				},
				"type": "SalesforceObject"
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_ActivityLog')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('SalesForce_Staging')]",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[Source_Activity_Log__c]')]"
				}
			}
		}
	]
}