ADF/pipeline/SFClientAccount.json
{
	"name": "SFClientAccount",
	"properties": {
		"activities": [
			{
				"name": "SetPipeLineRunID",
				"type": "SetVariable",
				"typeProperties": {
					"variableName": "PipeLineRunId",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetPipeLineName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetPipeLineRunID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"variableName": "PipeLineName",
					"value": {
						"value": "@pipeline().Pipeline",
						"type": "Expression"
					}
				}
			},
			{
				"name": "InsertLog",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SetPipeLineName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsPipeLineLog]",
					"storedProcedureParameters": {
						"PipeLineName": {
							"value": {
								"value": "@variables('PipeLineName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineRunId": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Del_Source",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "InsertLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[Del_Source_Account]"
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Source",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Del_Source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": "SELECT\tId \n\t\t, IsDeleted\t\t\t\n\t\t, Name\t\t\n\t\t, CreatedDate__c\n\t\t, StartDate__c\n\t\t, AccountStatus__c\n\t\t, Industry__c\n\t\t, RegNumber__c\n\t\t, AccountLevel__c\n\t\t, ClientHealthScore__c\t\t\n\t\t, LastActivityDate\n\t\t, LastCallDate__c\n\t\t, LastMonthlyTaskDate__c\nFROM Account ",
						"readBehavior": "query"
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SalesForce_Connection",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Source_Account",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ErrorLog_Del",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Del_Source",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdPipeLineLog]",
					"storedProcedureParameters": {
						"PipeLineName": {
							"value": {
								"value": "@variables('PipeLineName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineRunId": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineStatus": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stage",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[StageAccount]",
					"storedProcedureParameters": {
						"PipeLineRunID": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Process",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[ProcessAccount]",
					"storedProcedureParameters": {
						"PipeLineRunID": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ErrorLog_Source",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Source",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdPipeLineLog]",
					"storedProcedureParameters": {
						"PipeLineName": {
							"value": {
								"value": "@variables('PipeLineName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineRunId": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineStatus": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ErrorLog_Stage",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Stage",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdPipeLineLog]",
					"storedProcedureParameters": {
						"PipeLineName": {
							"value": {
								"value": "@variables('PipeLineName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineRunId": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineStatus": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ErrorLog_Process",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Process",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdPipeLineLog]",
					"storedProcedureParameters": {
						"PipeLineName": {
							"value": {
								"value": "@variables('PipeLineName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineRunId": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineStatus": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log_Complete",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdPipeLineLog]",
					"storedProcedureParameters": {
						"PipeLineName": {
							"value": {
								"value": "@variables('PipeLineName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineRunId": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineStatus": {
							"value": "Complete",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"PipeLineRunId": {
				"type": "String"
			},
			"PipeLineName": {
				"type": "String"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}