ADF/pipeline/SFMaster.json
{
	"name": "SFMaster",
	"properties": {
		"activities": [
			{
				"name": "SetPipeLineRunID",
				"type": "SetVariable",
				"typeProperties": {
					"variableName": "PipeLineRunId",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetPipeLineName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetPipeLineRunID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"variableName": "PipeLineName",
					"value": {
						"value": "@pipeline().Pipeline",
						"type": "Expression"
					}
				}
			},
			{
				"name": "InsertLog",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SetPipeLineName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsPipeLineLog]",
					"storedProcedureParameters": {
						"PipeLineName": {
							"value": {
								"value": "@variables('PipeLineName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineRunId": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log_Complete",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SFPriceBook2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SFUser",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SFProduct2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SFPriceBookEntry",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SFOpportunityLineItem",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SFPlanLocation",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SFIndustry",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SFCallTracking",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdPipeLineLog]",
					"storedProcedureParameters": {
						"PipeLineName": {
							"value": {
								"value": "@variables('PipeLineName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineRunId": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineStatus": {
							"value": "Complete",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SFClientAccount",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "InsertLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFClientAccount",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SFPriceBook2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SFClientAccount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFPriceBook2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SFClientAccountHistory",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "InsertLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFClientAccountHistory",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SFUser",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SFClientAccountHistory",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFUser",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SFOpportunity",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "InsertLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFOpportunity",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SFProduct2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SFOpportunity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFProduct2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SFPlanHistory",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "InsertLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFPlanHistory",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SFPriceBookEntry",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SFPlanHistory",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFPriceBookEntry",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SFLead",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "InsertLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFLead",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SFOpportunityLineItem",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SFLead",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFOpportunityLineItem",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SFClientPlan",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "InsertLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFClientPlan",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SFPlanLocation",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SFClientPlan",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFPlanLocation",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SFEvent",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "InsertLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFEvent",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SFLocation",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SFEvent",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFLocation",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SFIndustry",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SFLocation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFIndustry",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SFActivityLog",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "InsertLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFActivityLog",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SFContact",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SFActivityLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFContact",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SFCallTracking",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SFContact",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFCallTracking",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "RevLocal_BI_ODS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Log_Complete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "RevLocal_BI_ODS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"PipeLineRunId": {
				"type": "String"
			},
			"PipeLineName": {
				"type": "String"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}