ADF/pipeline/SFPlanLocation.json
{
	"name": "SFPlanLocation",
	"properties": {
		"activities": [
			{
				"name": "SetPipeLineRunID",
				"type": "SetVariable",
				"typeProperties": {
					"variableName": "PipeLineRunId",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetPipeLineName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetPipeLineRunID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"variableName": "PipeLineName",
					"value": {
						"value": "@pipeline().Pipeline",
						"type": "Expression"
					}
				}
			},
			{
				"name": "InsertLog",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SetPipeLineName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsPipeLineLog]",
					"storedProcedureParameters": {
						"PipeLineName": {
							"value": {
								"value": "@variables('PipeLineName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineRunId": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Del_Source",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "InsertLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[Del_Source_PlanLocation__c]"
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Source",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Del_Source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": "select \n\tCreatedById\n\t, CreatedDate\n\t, Id\n\t, IsDeleted\n\t, LastActivityDate\n\t, LastModifiedById\n\t, LastModifiedDate\n\t, Location__c\n\t, LocationCity__c\n\t, LocationPhone__c\n\t, LocationPostalCode__c\n\t, LocationState__c\n\t, LocationStreet__c\n\t, Name\n\t, OwnerId\n\t, Plan__c\n\t, PlanOwnerEmail__c\n\t, PlanOwnerFirstName__c\n\t, PlanOwnerLastName__c\n\t, PlanOwnerPhone__c\n\t, PlanOwnerTitle__c\n\t, PlanStatus__c\n\t, SystemModstamp\nfrom PlanLocation__c",
						"readBehavior": "query"
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SalesForce_Connection",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Source_PlanLocation",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ErrorLog_Del",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Del_Source",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdPipeLineLog]",
					"storedProcedureParameters": {
						"PipeLineName": {
							"value": {
								"value": "@variables('PipeLineName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineRunId": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineStatus": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stage",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[StagePlanLocationc]",
					"storedProcedureParameters": {
						"PipeLineRunID": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Process",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[ProcessPlanLocationc]",
					"storedProcedureParameters": {
						"PipeLineRunID": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ErrorLog_Source",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Source",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdPipeLineLog]",
					"storedProcedureParameters": {
						"PipeLineName": {
							"value": {
								"value": "@variables('PipeLineName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineRunId": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineStatus": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ErrorLog_Stage",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Stage",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdPipeLineLog]",
					"storedProcedureParameters": {
						"PipeLineName": {
							"value": {
								"value": "@variables('PipeLineName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineRunId": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineStatus": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ErrorLog_Process",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Process",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdPipeLineLog]",
					"storedProcedureParameters": {
						"PipeLineName": {
							"value": {
								"value": "@variables('PipeLineName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineRunId": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineStatus": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log_Complete",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdPipeLineLog]",
					"storedProcedureParameters": {
						"PipeLineName": {
							"value": {
								"value": "@variables('PipeLineName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineRunId": {
							"value": {
								"value": "@variables('PipeLineRunId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipeLineStatus": {
							"value": "Complete",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SalesForce_Staging",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"PipeLineRunId": {
				"type": "String"
			},
			"PipeLineName": {
				"type": "String"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}